.myTemplate {
    height: 100vh;
    background-color: #C14646;
    color: #FFFFFF;
    font-family: Arial;
    padding-top: 10px;
}

.myTemplateBack {
    height: 100vh;
    background-color: #C14646;
    color: #FFFFFF;
    font-family: Arial;
    padding-top: 10px;
}